In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [46]:
df = pd.read_excel("table_8_offenses_known_to_law_enforcement_missouri_by_city_2013.xls", header = 4)

In [51]:
df = df.dropna(axis=1, how='all')
df = df.dropna()

In [52]:
df.head()

,City,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition)1,Robbery,Aggravated assault,Property crime,Burglary,Larceny- theft,Motor vehicle theft,Arson3
0,Adrian,1633.0,3.0,0.0,0.0,0.0,3.0,41.0,11.0,29.0,1.0,0.0
1,Advance,1341.0,1.0,1.0,0.0,0.0,0.0,21.0,5.0,16.0,0.0,0.0
2,Anderson,1999.0,14.0,1.0,3.0,0.0,10.0,105.0,31.0,68.0,6.0,1.0
3,Annapolis,349.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,2.0,1.0,0.0
4,Appleton City,1081.0,0.0,0.0,0.0,0.0,0.0,13.0,3.0,9.0,1.0,0.0

In [53]:
df.describe()

,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition)1,Robbery,Aggravated assault,Property crime,Burglary,Larceny- theft,Motor vehicle theft,Arson3
count,444.000000,444.000000,444.000000,444.000000,444.000000,444.000000,444.000000,444.000000,444.000000,444.000000,444.000000
mean,8399.943694,48.045045,0.686937,4.047297,11.479730,31.831081,344.051802,64.423423,249.020270,30.608108,1.736486
std,30302.121923,380.011397,7.415359,27.767497,106.785885,239.894316,1759.267824,390.729498,1129.756156,265.823232,13.458755
min,53.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,835.500000,1.000000,0.000000,0.000000,0.000000,1.000000,11.000000,2.000000,6.000000,0.000000,0.000000
50%,1987.000000,5.000000,0.000000,0.000000,0.000000,4.000000,41.000000,9.000000,30.500000,2.000000,0.000000
75%,5798.000000,16.000000,0.000000,1.000000,2.000000,12.250000,181.250000,30.000000,137.750000,8.000000,1.000000
max,465514.000000,5864.000000,120.000000,377.000000,1662.000000,3726.000000,24648.000000,6412.000000,13949.000000,4287.000000,207.000000

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 444 entries, 0 to 444
Data columns (total 12 columns):
City                                    444 non-null object
Population                              444 non-null float64
Violent
crime                           444 non-null float64
Murder and
nonnegligent
manslaughter    444 non-null float64
Rape
(revised
definition)1              444 non-null float64
Robbery                                 444 non-null float64
Aggravated
assault                      444 non-null float64
Property
crime                          444 non-null float64
Burglary                                444 non-null float64
Larceny-
theft                          444 non-null float64
Motor
vehicle
theft                     444 non-null float64
Arson3                                  444 non-null float64
dtypes: float64(11), object(1)
memory usage: 45.1+ KB

In [55]:
df.columns

Index(['City', 'Population', 'Violent\ncrime',
       'Murder and\nnonnegligent\nmanslaughter',
       'Rape\n(revised\ndefinition)1', 'Robbery', 'Aggravated\nassault',
       'Property\ncrime', 'Burglary', 'Larceny-\ntheft',
       'Motor\nvehicle\ntheft', 'Arson3'],
      dtype='object')

In [56]:
columns = ['city', 'population', 'violentcrime', 'murder', 'rape', 'robbery', 'assault', 'propertycrime', 'burglary', 'theft', 'mvtheft', 'arson']

In [57]:
df.columns = columns

In [58]:
df.columns

Index(['city', 'population', 'violentcrime', 'murder', 'rape', 'robbery',
       'assault', 'propertycrime', 'burglary', 'theft', 'mvtheft', 'arson'],
      dtype='object')

In [59]:
df.head()

,city,population,violentcrime,murder,rape,robbery,assault,propertycrime,burglary,theft,mvtheft,arson
0,Adrian,1633.0,3.0,0.0,0.0,0.0,3.0,41.0,11.0,29.0,1.0,0.0
1,Advance,1341.0,1.0,1.0,0.0,0.0,0.0,21.0,5.0,16.0,0.0,0.0
2,Anderson,1999.0,14.0,1.0,3.0,0.0,10.0,105.0,31.0,68.0,6.0,1.0
3,Annapolis,349.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,2.0,1.0,0.0
4,Appleton City,1081.0,0.0,0.0,0.0,0.0,0.0,13.0,3.0,9.0,1.0,0.0

In [60]:
df['violentbinary'] = np.where(df['violentcrime'] >= 1, 1, 0)

In [61]:
df.head()

,city,population,violentcrime,murder,rape,robbery,assault,propertycrime,burglary,theft,mvtheft,arson,violentbinary
0,Adrian,1633.0,3.0,0.0,0.0,0.0,3.0,41.0,11.0,29.0,1.0,0.0,1
1,Advance,1341.0,1.0,1.0,0.0,0.0,0.0,21.0,5.0,16.0,0.0,0.0,1
2,Anderson,1999.0,14.0,1.0,3.0,0.0,10.0,105.0,31.0,68.0,6.0,1.0,1
3,Annapolis,349.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,2.0,1.0,0.0,0
4,Appleton City,1081.0,0.0,0.0,0.0,0.0,0.0,13.0,3.0,9.0,1.0,0.0,0

In [63]:
import statsmodels.api as sm
from sklearn.linear_model import LogisticRegression

lr = LogisticRegression(C=1e2)
y = df['violentbinary']
X = df.drop(['city', 'violentcrime', 'violentbinary', 'arson'], 1)

# you need to get rid of some nan values

# Fit the model.
fit = lr.fit(X, y)

/Users/swang/anaconda3/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [64]:
print('Coefficients are...')
print(fit.coef_)
print(fit.intercept_)

Coefficients are...
[[-3.55906446e-05  1.03972122e-01  4.14489714e-01  4.80145806e-01
   2.05203639e+00  4.38386546e-03  6.27081471e-02 -6.64534029e-03
  -5.16789413e-02]]
[-0.95707169]

In [65]:
pred_y_sklearn = lr.predict(X)

In [66]:
print('\n Accuracy by admission status')
print(pd.crosstab(pred_y_sklearn, y))

 Accuracy by admission status
violentbinary   0    1
row_0
0              93    8
1               1  342

In [67]:
print('\n Percentage accuracy')
print(lr.score(X, y))

 Percentage accuracy
0.9797297297297297

# Now to use Ridge Regression

Remember, ridge regression penalizes really big coefficients

In [88]:
# choosing 80% training size and 20% testing size
trainingsize = int(df.shape[0]*0.8)
df2 = df[['population', 'murder', 'rape', 'robbery', 'assault', 'propertycrime', 'burglary', 'theft', 'mvtheft', 'arson', 'violentbinary']]

In [89]:
df_test = df2.iloc[trainingsize:, :].copy()
df_train = df2.iloc[:trainingsize, :].copy()

In [90]:
Y_train = df_train['violentbinary'].values.reshape(-1, 1)
X_train = df_train.loc[:, ~(df_train.columns).isin(['population'])]

In [92]:
df_train.head()

,population,murder,rape,robbery,assault,propertycrime,burglary,theft,mvtheft,arson,violentbinary
0,1633.0,0.0,0.0,0.0,3.0,41.0,11.0,29.0,1.0,0.0,1
1,1341.0,1.0,0.0,0.0,0.0,21.0,5.0,16.0,0.0,0.0,1
2,1999.0,1.0,3.0,0.0,10.0,105.0,31.0,68.0,6.0,1.0,1
3,349.0,0.0,0.0,0.0,0.0,3.0,0.0,2.0,1.0,0.0,0
4,1081.0,0.0,0.0,0.0,0.0,13.0,3.0,9.0,1.0,0.0,0

In [99]:
import math
import seaborn as sns
import sklearn
from sklearn import linear_model
from sklearn import preprocessing

ridgeregr = linear_model.Ridge(alpha=10, fit_intercept=False)
ridgeregr.fit(X_train, Y_train)
print("R2 score value for ridge regression")
print(ridgeregr.score(X_train, Y_train))

R2 score value for ridge regression
0.9923905125363497

In [94]:
Y_test = df_train['violentbinary'].values.reshape(-1, 1)
X_test = df_train.loc[:, ~(df_train.columns).isin(['population'])]
print(ridgeregr.score(X_test, Y_test))

0.9923905125363497

# Use Lasso Regression last

Lasso regression penalizes small coefficients by eliminating ones closest to zero

In [98]:
lasso = linear_model.Lasso(alpha=0.2)
lassfit = lasso.fit(X_train, Y_train)
print('This is the R2 score value:')
print(lasso.score(X_train, Y_train))

This is the R2 score value:
0.056378702906851874

In [100]:
print(lasso.score(X_test, Y_test))

0.056378702906851874

# Conclusions:
Normal regression had a decent accuracy, but ridge regression had even better accuracy.

Seems like lasso regression was terrible for this particular dataset. Increasing alpha only makes the prediciton worse. Also, it would not converge with alpha at 0.1

Perhaps playing with features would create a better result.
1. Scaling?
2. Increasing feature magnitude?