In [1]:
import nltk
import re
from collections import Counter
from nltk.corpus import stopwords
import pandas as pd
import numpy as np
import time

from google.colab import drive
drive.mount('/content/drive')

In [30]:
nltk.download('gutenberg')
nltk.download('stopwords')
nltk.download('punkt')
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer
from nltk.tokenize import TweetTokenizer

[nltk_data] Downloading package gutenberg to /Users/swang/nltk_data...
[nltk_data]   Package gutenberg is already up-to-date!
[nltk_data] Downloading package stopwords to /Users/swang/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /Users/swang/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [4]:
df = pd.read_csv('/Users/swang/Python/thinkful/thinkful datasets/Tweets.csv')

In [5]:
df.head()

,tweet_id,airline_sentiment,airline_sentiment_confidence,negativereason,negativereason_confidence,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
0,570306133677760513,neutral,1.0000,NaN,NaN,Virgin America,NaN,cairdin,NaN,0,@VirginAmerica What @dhepburn said.,NaN,2015-02-24 11:35:52 -0800,NaN,Eastern Time (US & Canada)
1,570301130888122368,positive,0.3486,NaN,0.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica plus you've added commercials t...,NaN,2015-02-24 11:15:59 -0800,NaN,Pacific Time (US & Canada)
2,570301083672813571,neutral,0.6837,NaN,NaN,Virgin America,NaN,yvonnalynn,NaN,0,@VirginAmerica I didn't today... Must mean I n...,NaN,2015-02-24 11:15:48 -0800,Lets Play,Central Time (US & Canada)
3,570301031407624196,negative,1.0000,Bad Flight,0.7033,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica it's really aggressive to blast...,NaN,2015-02-24 11:15:36 -0800,NaN,Pacific Time (US & Canada)
4,570300817074462722,negative,1.0000,Can't Tell,1.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica and it's a really big bad thing...,NaN,2015-02-24 11:14:45 -0800,NaN,Pacific Time (US & Canada)

In [13]:
reduced_df = df.drop(columns=['tweet_id', 'airline_sentiment_confidence', 'negativereason', 'negativereason_confidence', 'airline', 'airline_sentiment_gold',
                              'name', 'negativereason_gold', 'retweet_count', 'tweet_coord', 'tweet_created', 'tweet_location', 'user_timezone'])

In [14]:
reduced_df.head()

  airline_sentiment                                               text
0           neutral                @VirginAmerica What @dhepburn said.
1          positive  @VirginAmerica plus you've added commercials t...
2           neutral  @VirginAmerica I didn't today... Must mean I n...
3          negative  @VirginAmerica it's really aggressive to blast...
4          negative  @VirginAmerica and it's a really big bad thing...

In [23]:
# assign new dataframes grouped by sentiment
neutral = reduced_df[reduced_df.airline_sentiment == 'neutral']
positive = reduced_df[reduced_df.airline_sentiment == 'positive']
negative = reduced_df[reduced_df.airline_sentiment == 'negative']

In [29]:
# take text column of each sentiment and turn into np list, then turn list into one large sentence
neu_list = neutral.text.tolist()
neu_sent = ' '.join(neu_list)

pos_list = positive.text.tolist()
pos_sent = ' '.join(pos_list)

neg_list = negative.text.tolist()
neg_sent = ' '.join(neg_list)

In [33]:
from nltk.corpus import gutenberg, stopwords
neu_tokens = word_tokenize(neu_sent)
pos_tokens = word_tokenize(pos_sent)
neg_tokens = word_tokenize(neg_sent)